.modal {
  display: block;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 30%;
  height: 20vh;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 35%;
  top: 35%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  text-align: center;
}

.none {
  display: none;
}
