.Nav {
  text-align: left;
  width: 95%;
}

.link {
  display: inline-block;
  margin: 5px 12px;
}

.active, .link:hover {
  color: dodgerblue;
  font-weight: bold;
}

.active { 
  font-size: 1.5rem;
}
